[submodule "vendors/livekit-agents"]
	path = vendors/livekit-agents
	url = https://github.com/livekit/agents
[submodule "vendors/hume-evi-next-js-starter"]
	path = vendors/hume-evi-next-js-starter
	url = https://github.com/humeai/hume-evi-next-js-starter
[submodule "vendors/swift"]
	path = vendors/swift
	url = https://github.com/ai-ng/swift
	branch = main
[submodule "vendors/livekit-examples"]
	path = vendors/livekit-examples
	url = https://github.com/livekit-examples/python-agents-examples
[submodule "vendors/zen-mcp-server"]
	path = vendors/zen-mcp-server
	url = https://github.com/BeehiveInnovations/zen-mcp-server
[submodule "vendors/agent-os"]
	path = vendors/agent-os
	url = https://github.com/buildermethods/agent-os
