[submodule "vendors/hume-evi-next-js-starter"]
	path = vendors/hume-evi-next-js-starter
	url = https://github.com/humeai/hume-evi-next-js-starter
[submodule "vendors/zen-mcp-server"]
	path = vendors/zen-mcp-server
	url = https://github.com/BeehiveInnovations/zen-mcp-server
[submodule "vendors/agent-os"]
	path = vendors/agent-os
	url = https://github.com/buildermethods/agent-os
